{% extends "front/base.html" %}
{% block content %}

<h1> Profile de {{user["user_id"]}} </h1>
{% if data %}
    <p class="ml-2 mx-2" >nombre de cuillères fabriquées : {{data["score"]}}</p> 
    <p class="mx-2">temps de jeu : {{data["time_played"]}}</p>
    <p class="mx-2">niveau : {{data["level"]}}</p>
{% else %}  
    <p class="ml-2 mx-2" >- aucune données -</p> 
{% endif %}

<p>
    {% for tag in user["tags"]%}
        <span>#{{ tag }}</span>
    {% endfor %}
</p>

<!-- <img src="{{ user['avatar']}}" width = "100"-->
{% if not admin %}
    <a href="{{ url_for('index')}}">retour</a>
{% else %}
    <a href="{{ url_for('admin')}}">retour</a>
{% endif %}

{% endblock %}